body {
	font-family: 'Nunito' , sans-serif;
	height:100%;
	letter-spacing: 0.1em;
	margin: 0;
	background: #1e2022;
  text-align:center;
  color:white;

}

.footer-link {
	width: 25px;
	height: 25px;
	margin-left:10px;
	margin-right:10px;
	vertical-align: center;
}

nav a:focus, nav a:active, footer a:focus, footer a:active {
	color: #A2AEBB;
}
nav a:active, footer a:active {
	transform: translateY(2px);
}
nav a:focus, footer a:focus {
	outline: none;
}
/*Animation: color changes, text expands, underline wipes, page scrolls to spot*/

footer {
	display: flex;
	flex-wrap: unset;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 40px;
	background: #1e2022;
	text-align: center;
	bottom: 0;
	transition:0.3s;
}
footer a {
	color: #c9d6df;
	text-decoration: none;
	-o-transition: color.3s ease-in, transform 0.15s ease-in;
	-ms-transition: color.3s ease-in, transform 0.15s ease-in;
	-moz-transition: color.3s ease-in, transform 0.15s ease-in;
	-webkit-transition: color.3s ease-in, transform 0.15s ease-in;
	transition: color.3s ease-in, transform 0.15s ease-in;
	position:relative;
	right:5px;
}
footer a:not(.footer-link-first) {
	margin-left:10px;
}

footer a:hover {
	color: white;
	transform: scaleX(1.1) scaleY(1.1);
}
footer a:focus, footer a:active {
	color: #f0f5f9;
}

#welcome {

  position:relative;
  top:20vh;
  font-size:5vh;
}
#enter-pass {

  position:relative;
  top:20vh;
  font-size:3vh;

}

#sign-in, #sign-in-btn {
  position:relative;
  top:20vh;
}

#sign-in-btn, #sign-in {
  border:white 2px solid;
  color:white;
  background:transparent;
  border-radius:20px;
  transition:.2s;
}

#sign-in-btn:hover {
  background:rgba(255,255,255,0.5)
}

#sign-in {
  color:#5f55ff;
  padding-left:5px;
}

#sign-in:focus, #sign-in-btn:focus {
  outline:none;
}

.enter-text {
  visibility:hidden;
  color:white;
  position:relative;
  top:20vh;
  font-size:2vh;
  margin-top:50px;
}

.visible {
  visibility:visible;
}
